<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>8ty1 - Dashboard</title>
</head>
<body>
    <%- include("../includes/Navbar.html") %>

    <div class="pt-10 pb-10 text-center font-bold text-5xl font-mono">8ty1 &#x2715; <%- user.username %></div>

    <div class="flex flex-wrap space-x-4 space-y-4">
        <% user.guilds.forEach((guild) => { %>
            <div class="card w-96 bg-base-100 shadow-xl dark:shadow-cyan-500/50 focus:shadow-2xl">
                <figure class="px-10 pt-10">
                    <% if (guild.icon) { %>
                        <img src="https://cdn.discordapp.com/icons/<%- guild.id %>/<%- guild.icon %>.png" alt="Server Icon" class="rounded-xl" />
                    <% } else { %> 
                        <img src="https://cdn.discordapp.com/embed/avatars/0.png" alt="Discord icon" style="width: 128px;height: 128px;" class="rounded-xl" />
                    <% } %>
                </figure>
                <div class="card-body items-center text-center">
                  <h2 class="card-title"><%- guild.name %></h2>
                  <p>Want to manage <%- guild.name %>?</p>
                  <div class="card-actions">
                    <button class="btn btn-primary" onclick="window.location.href='/dashboard/manage/<%- guild.id %>'">Manage</button>
                  </div>
                </div>
              </div>
        <% }) %>
    </div>

    <%- include("../includes/Footer.html") %>
</body>
</html>