<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>8ty1 - Dashboard</title>
</head>
<body>
    <%- include("../includes/Navbar.html") %>

    <div class="flex flex-wrap space-x-4 gap-4 py-8">
        <% user.guilds.forEach((guild) => { %>
        <div class="card w-90 bg-base-100 image-full shrink-0">
            <figure>
                <% if (guild.icon) { %> 
                    <img src="https://cdn.discordapp.com/icons/<%- guild.id -%>/<%- guild.icon %>.png" alt="Guild Icon" />
                <% } else { %>
                    <img src="https://cdn.discordapp.com/embed/avatars/0.png" alt="No Guild Icon" />
                    <% } %>

            </figure>
            <div class="card-body">
                <h2 class="card-title"><%- guild.name %></h2>
                <p>Do you want to manage <%- guild.name %>?</p>
                <div class="card-actions justify-end">
                    <button onclick="window.location.href='/dashboard/manage/<%- guild.id %>'" class="btn btn-primary">Manage</button>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

    <%- include("../includes/Footer.html") %>
</body>
</html>