<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>8ty1</title>
</head>
<body>
    <%- include("./includes/Navbar.html") %>

    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <img src="https://cdn.discordapp.com/embed/avatars/0.png" class="max-w-sm rounded-lg shadow-2xl" />
            <div>
                <h1 class="text-5xl font-bold">8ty1</h1>
                <p class="py-6">8ty1 is a new <strong>Discord</strong> bot. A multipurpose bot with features like welcomes/goodbyes, leveling, moderation & much more.</p>
                <% if (user) { %> 
                    <button class="btn btn-primary">Dashboard</button>
                <% } else { %>
                    <button class="btn btn-primary">Login</button>
                    <% } %>
            </div>
        </div>
    </div>

    <%- include("./includes/Footer.html") %>
</body>
</html>