<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>8ty1 - Invite</title>
</head>
<body>
    <div class="mt-52 flex flex-col items-center">
        <p class="font-mono font-bold text-4xl text-center pb-10 drop-shadow-lg shadow-cyan-500/50">Do you want to invite 8ty1?</p>
        <button class="btn btn-primary shadow-2xl shadow-cyan-200 hover:shadow-blue-500/50" onclick="window.location.href='/invite?prompt=false'">Invite</button>
    </div>
</body>
</html>