<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>8ty1 - Welcome / Leave</title>
</head>
<body>
    <%- include('../../includes/Navbar.html') %>

    <div class="font-mono font-bold text-4xl pt-5 pb-10 text-center">8ty1 &#x2715; <%- guild.name %></div>

    <div>
        <p class="text-left font-bold text-2xl pl-5">Welcome</p>    
    </div>

    <%- include('../../includes/Footer.html') %>
</body>
</html>